* {
    margin: 0;
    padding: 0;
}

img {
    width: 78px;
    height: 86px;
}

.main_container {
    background-image: url(" profile-bpx-background.jpg ");
    background-size: cover;

    border: 2px solid black;
    text-align: center;
    width: 450px;
    height: 318px;
    position: absolute;
    left: 28%;
    top: 32%;
}

h1 {
    color: gold;
}

body {
    background-image: url(" profile-background.jpg ");
    background-size: cover;
    background-repeat: no-repeat;
}

h2,
h3 {
    color: white;
}